.videoStudio {
    position:relative;   
}

.videoPageIMG{   
    background-image: url(/VS4.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;    
    background-attachment: fixed;  
   
}

.videoPageText {    
    // font-weight:bolder;
    position:relative;
    top: auto;
    left: auto;
    right:auto;
    width: 70%;
    background-color: rgba(252, 252, 246, 0.808);
    border-radius: 17px; 
    margin:auto; 
    padding: 20px;   
}



.imgMy1 {
    width: 60%;
    height: auto;   
    margin: 2% 20% 0 20%;   
    border-radius: 15px;   
}

@media (max-width: 800px) {
    .videoPageIMG { 
        background-size:auto;      
                
    }    
}