.assemblyHall {
    position:relative; 
    // background-color: rgba(2, 30, 154, 0.368);  
}

.assemblyHallgeIMG {   
    background-image: url(/az00.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;   
    opacity: 0.55;    
    background-attachment: fixed;    
}

.assemblyHallText {    
    // font-weight:bolder;
    position:relative;
    top: auto;
    left: auto;
    right:auto;
    width: 70%;
    background-color: rgba(209, 211, 205, 0.797);
    border-radius: 17px;     
    margin: auto; 
    padding: 20px; 
  
}

.imgMy1 {
    width: 60%;
    height: auto;   
    margin: 2% 20% 10px 20%;  
    border-style: groove;  
    border-radius: 15px; 
    
}

@media (max-width: 800px) {
    .assemblyHallgeIMG{ 
        background-color: rgb(211, 205, 197);                    
    }    
}