.pageContact {
    text-align: center;  
    padding-top: 20px;
    margin: auto;
}

.background {    
    background-image: url(/cont.webp);         
    background-size: cover;
    background-repeat: no-repeat;    
    position: fixed;
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px;
    z-index: -1;
}

// .head {
//     display: flex;
//     justify-content:space-between;
//     align-items:flex-start;
//     width: 96%;
// }


.mapsAndTel { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 150px;
}

.map1 {    
    border-style: double;    
    font-weight: bolder;    
    margin: 8px 40px;   
    opacity: 0.9; 
    border-radius: 15px;
}

// .text {
//     font-weight: bolder;
//     margin: 10px auto;
//     text-decoration: underline;
// }

.contactMy {
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;    
    padding-bottom: 10px;
    text-align:left;
}
.contactText {
    text-align:left;
    color: black;
    font-weight: bold;
}

.contacts {
    border-style: double;
    background-color: antiquewhite;
    padding: 20px; 
    border-radius: 15px;
    opacity: 0.7;
}

@media (max-width: 800px) {
    .pageContact {
        display:block;

    }
}