.footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap; 
   min-height: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    left: -1px;
    bottom: 0;
    background-color: rgba(211, 231, 231);
    box-shadow: 0em 0 .4em rgb(0, 0, 0);   
    color: rgb(5, 5, 101); 
    font-size: small;       
}
.mediaStile3 {
    display: none;
}
@media (max-width:800px) {
    .mediaStile {
        display: none;
    }

    .mediaStile3 {
        display: inline;
    }

}
